@model Product 

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form asp-action="Edit">
     <div class="form-group">
        <label asp-for="Id">Product ID:</label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cost">Cost:</label>
        <input asp-for="Cost" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity:</label>
        <input asp-for="Quantity" class="form-control" />
    </div>
   <div>
    <span> 
    <button type="submit" class="btn btn-Success">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </span>
</div>
</form>


