<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Warehouse System{% endblock %}</title> <link rel="stylesheet" href="{{ url_for('static', filename='css/indexcss.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h2>Warehouse System</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    <li><a href="{{ url_for('location.locations') }}">Locations</a></li>
                    <li><a href="{{ url_for('product.products') }}">Products</a></li>
                    <li><a href="{{ url_for('order.orders') }}">Orders</a></li>
                    </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header class="header">
                </header>
            {% block main_content %}
            {% endblock %}  </main>
    </div>
    </body>
   
</html>
