{% extends 'base.html' %}

{% block main_content %}
    <section class="dashboard">
        <h2>Location List</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.id }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.capacity }}</td>
                    <td>
                        <a href="{{ url_for('location.edit_location', id=location.id) }}">Edit</a> |
                        <a href="{{ url_for('location.delete_location', id=location.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('location.add_location') }}">Add New Location</a>
    </section>
{% endblock %}
